%list-tag {
  display: flex;
  align-items: center;

  span {
    margin-right: 1rem;
    min-width: 4rem;
  }
}

.card-link {
  width: 100%;

  &-title {
    text-transform: capitalize;
  }

  &-search {
    &-filter {
      text-align: center;
      display: flex;
      align-items: center;

      button {
        flex: 1;
        margin: 0 0.5rem;
      }
    }

    &-form {
      form {
        justify-content: center;

        button {
          margin: 1rem 0;
          padding: 0.375rem 3.5rem;
        }
      }
    }
  }

  &-item {
    margin: 1rem 0;

    &-top {
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &-bottom {
      &-row {
        align-items: center;
        margin: 1rem 0;
      }

      &-col {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
      }

      &-navigation {
        flex-wrap: nowrap;
        flex-direction: column;
        margin: 0;
        max-height: 15rem;
        overflow: auto;

        &-item {
          align-items: center;
          display: flex;

          &-link {
            flex: 1;
            margin-right: 1rem;
          }
        }
      }

      &-list {
        max-height: 15rem;
        overflow: auto;

        &-item {
          display: flex;
          flex-direction: column;
        }
      }
    }

    &-source {
      @extend %list-tag;

      &-input {
        display: flex;
        flex-direction: column;
        flex: 1;

        &-item {
          display: flex;
        }
      }

      a {
        font-weight: 600;
        color: #192a56;
      }
    }

    &-tag {
      @extend %list-tag;

      a {
        font-style: italic;
        color: #192a56;
      }

      div {
        flex: 1;
      }
    }
  }
}
